<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SmsGatewayConnectionString" connectionString="7S2VkLEeZXogB92Gc4oMapsPtGdH5OtcfIMMlNukAn3muy7T80LnAboppil2EkXyF2TaTU8CWQm9rEqqg09jchK54raPgvOYUBZEYHJfwOI="/>

  </connectionStrings>
  <appSettings>
    <add key="TimeDelay" value="10000"/>
    <!--delay 30p-->

    <add key="Time_Exec" value="9"/>

    <!-- TELCO-->
    <add key="TELCO" value="[{'Code':'VTEL','Name':'Viettel','Prefix':'096,097,098,0162,0163,0164,0165,0166,0167,0168,0169'},{'Code':'GPC','Name':'VinaPhone','Prefix':'091,094,0123,0124,0125,0127,0129'},{'Code':'VMS','Name':'Mobifone','Prefix':'090,093,0120,0121,0122,0126,0128'},{'code':'SFONE','Name':'SFone','Prefix':'095'},{'Code':'VNM','Name':'VietNamMobile','Prefix':'092,0188,0186'},{'Code':'BEELINE','Name':'Beeline','Prefix':'099,0199'}]"/>
    <add key="TELCO.PREPAID" value="[{'Code':'VTEL','Cate':56},{'Code':'GPC','Cate':57},{'Code':'VMS','Cate':58},{'Code':'VNM','Cate':176},{'Code':'BEELINE','Cate':243},{'Code':'VTEL','Cate':219},{'Code':'VTEL','Cate':217}]"/>
    <add key="TELCO.SMS" value="[{'Code':'VTEL,GPC,VMS,VNM'}]"/>
    <!--End TELCO-->
    <add key="URL_PartnerAPI" value="http://sandbox3.vtcebank.vn/PartnerServices/PartnerService.asmx"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>