@using PayWallet.Utils
@{
    ViewBag.Title = "Error Page";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}


<div class="switcher">
    <input id="sw" type="checkbox" class="switcher-value">
    <label for="sw" class="sw_btn"></label>
    <div class="bg"></div>
    <div class="text">Turn <span class="text-l">off</span><span class="text-d">on</span><br>the light</div>
</div>
<!-- End Switcher -->
<!-- Dark version -->
<div id="dark" class="row text-center">
    <div class="info">
        <img src="@Html.Raw(Config.Domain)images/error-page/404-dark.png" alt="404 error"/>
    </div>
</div>
<!-- End Dark version -->
<!-- Light version -->
<div id="light" class="row text-center">
    <!-- Info -->
    <div class="info">
        <img src="@Html.Raw(Config.Domain)images/error-page/404-light.gif" alt="404 error" />
        <!-- end Rabbit -->
        <p>
            The page you are looking for was moved, removed,<br>
            renamed or might never existed.
        </p>
        <a href="@Html.Raw(Config.Domain)" class="butn">Go Home</a>
        <a href="@Html.Raw(Config.Domain)" class="butn butn-brown">Contact Us</a>
    </div>
    <!-- end Info -->
</div>
<!-- End Light version -->